:root {
  /* colors */
  --blue: #3e88b6;
  --orange: orange;
  --lightgreen: rgb(52, 189, 52);
  --red: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-wrapper {
  max-width: 50%;
  margin: 70px auto;
}

.box-wrapper * div {
    width: 100%;
}

.blue-box {
  background: var(--blue);
  margin: 5px;
  height: 7vh;
}

.orange-box {
  background: var(--orange);
  height: 14vh;
  width: 100%;
  margin: 5px;
}

.green-box {
  background: var(--lightgreen);
  margin: 5px;
  height: 7vh;
}

.red-box {
  background: var(--red);
  margin: 5px;
  height: 7vh;
}

.red-box:first-child,
.red-box:nth-child(2) {
  background: var(--red);
}

.red-box:nth-child(2),
.red-box:last-child {
  display: none;
}

/* responsiveness on tablet screen */
@media (min-width: 800px) {
  .red-box:nth-child(2),
  .red-box:last-child {
    display: block;
  }

  .red-box{
    margin-block-end: -5px;
  }

  .red-boxes {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    gap: 10px;
  }
}

/* responsiveness on desktop screen */
@media (min-width: 1000px) {
  .blue-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .green-boxes {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .red-box:nth-child(2),
  .red-box:last-child {
    display: block;
  }

  .red-boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}
