*{
    margin: 0;
    padding: 0;
}

.mainContainer{
    width: 100%;
    height: max-content;
}

.mainBackground{
    font-family: serif;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #8EC2FE, #f32bfad8);
    display: flex;
    gap: 5rem;
}

.contentCard{
    position: relative;
    width: 350px;
    height: 70vh;
    border-radius: 10px;
    background: url(./images//Background.png),linear-gradient(120deg, #848F9F,#7E8A9A,#70798A, #090A10);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -730%;
}

.userDetails{
display: flex;
 flex-direction: column;
 align-items: end;
 gap: 20rem;
}

.header{
    color: antiquewhite;
    padding-top: 30px;
    margin-inline-end: 0.5rem;
}

.header h1{
    font-size: 1.3rem;
}

.btn{
    padding: 7px;
    margin-inline-end: 0.5rem;
    border-radius: 20px;
    background: #FEE11B;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Styling the second container */

.maleIcon img{
   float: right;
   padding: 10px;
   font-weight: bold;
   width: 20px;
}

.addButton{
    position: relative;
    bottom: 20px;
    left: 300px;
    font-weight: bold;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    background: #FEE11B;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

.cardContent{
    color: #585858;
    background: #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    bottom: 100;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50%;
}

.cardText{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-end: 16px;
}

.contentCardInner h1{
    font-weight: bold;
    font-size: 26px;
    margin-block-end: 15px;
    color: #000;
}

.profession,.location{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    cursor: pointer;
}

.userExtras{
    display: flex;
    gap: 5px;
    color: rgb(110, 107, 107);
    margin-block-end: 18.5px;
}

.userExtras span{
    font-size: 12px;
}

.footerLine{
    border: 1px solid #DFDFDF;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer div{
    padding: 7px;
}

footer div:first-child{
    border-right: 2px solid #DFDFDF;
}

footer div:nth-child(2){
    border-right: 2px solid #DFDFDF;
}


